.productDiv {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:10px;
}
.productcardwidth {
  width: 225px;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;   /* ↑ stack vertically inside card */
  gap: 8px;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.ATC{
  width: 225px;
  background-color: black;
  color:white;
  padding-bottom: 0;
  margin-bottom: 0;
}
.img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.para {
  background-color: white;
  height: 90px;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
}
.h5 {
  margin: 0;
  text-align: center;
  padding-top: 10px;
  margin: 0;
}
.p {
  margin: 0;
  text-align: center;
  height: 50px;     
  overflow: hidden; 
  font-size: 12px;
}
.h6{
  white-space: nowrap;        /* Prevent wrapping to the next line */
  overflow: hidden;           /* Hide overflowed text */
  text-overflow: ellipsis;    /* Show “…” at the cutoff point */ 
  max-width: 220px; 
}