.fa-location-dot {
        padding-top: 20px;
        color: rgb(255, 255, 255);
      }
      .search-wrapper {
        width: 600px;
        padding-top: 13px;
      }
      .star-filter-btn {
        color: orange; 
      }